.button {
  border: none;
  padding: 10px 20px;
  border-radius: 2px;
  cursor: pointer;
  height: 48px;
  font-size: 16px;
  font-weight: bold;
}

.button-primary {
  background-color: #9222dc;
  color: white;
}

.button-secondary {
  background-color: #000000;
  color: white;
}

.button-block {
  width: 100%;
}

.details {
  background: white;
  width: 100%;
  padding: 16px;
}

.detailsText {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.rowDetails {
  display: flex;
  justify-content: space-between;
}

.teste {
  margin-top: 16px;
}
